In [1]:
import pandas as pd

In [2]:
IN_DIR = r'E:\hacks-ai\2022.10.Иннополис\agricultural_industry\in\2\\'

In [3]:
PROC_DIR = r'E:\hacks-ai\2022.10.Иннополис\agricultural_industry\proc\\'

In [4]:
OUT_DIR = r'E:\hacks-ai\2022.10.Иннополис\agricultural_industry\out\\'

In [8]:
best_pred_list = ['fft_amp_feat_ts_lgbm_adj_conf_mat.2.csv',
'fft_amp_feat_ts_lgbm_adj_cm_0_6.csv',
'fft_amp_feat_ts_lgbm.csv',
'lgbm_pipe_1_min_max_scaler.csv',
'agro_3_nozero_fi_11_lgbm_full_out.csv',
'agro_3_nozero_fi_5_lgbm_full_out.csv',
'agro_3_nozero_fi_3_lgbm_full_out.csv',
'agro_2_xgboost_full_out.csv',
'agro_3_nonzero_lgbm_full_out.csv']
best_pred_list

['fft_amp_feat_ts_lgbm_adj_conf_mat.2.csv',
 'fft_amp_feat_ts_lgbm_adj_cm_0_6.csv',
 'fft_amp_feat_ts_lgbm.csv',
 'lgbm_pipe_1_min_max_scaler.csv',
 'agro_3_nozero_fi_11_lgbm_full_out.csv',
 'agro_3_nozero_fi_5_lgbm_full_out.csv',
 'agro_3_nozero_fi_3_lgbm_full_out.csv',
 'agro_2_xgboost_full_out.csv',
 'agro_3_nonzero_lgbm_full_out.csv']

In [24]:
df_pred_list = [pd.read_csv(f'{OUT_DIR}{filename}')['crop'] for filename in best_pred_list]

In [25]:
df_pred = pd.concat(df_pred_list, axis=1)
df_pred

      crop  crop  crop  crop  crop  crop  crop  crop  crop
0        3     3     3     3     3     3     3     3     3
1        2     2     2     2     2     2     2     2     2
2        3     3     3     3     3     3     3     3     3
3        1     1     1     1     1     1     1     1     1
4        6     6     6     6     6     6     6     6     6
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
2066     5     5     5     5     5     5     5     5     5
2067     3     3     3     3     3     3     3     3     3
2068     2     2     2     2     2     2     2     2     2
2069     6     6     6     6     6     6     6     6     6
2070     6     6     0     6     6     0     6     0     6

[2071 rows x 9 columns]

In [28]:
df_pred['crop'].mode(axis=1)

        0   1
0     3.0 NaN
1     2.0 NaN
2     3.0 NaN
3     1.0 NaN
4     6.0 NaN
...   ...  ..
2066  5.0 NaN
2067  3.0 NaN
2068  2.0 NaN
2069  6.0 NaN
2070  6.0 NaN

[2071 rows x 2 columns]

In [34]:
df_pred.mode(axis=1)[0].astype(int)

0       3
1       2
2       3
3       1
4       6
       ..
2066    5
2067    3
2068    2
2069    6
2070    6
Name: 0, Length: 2071, dtype: int32

In [37]:
pd.DataFrame({'id': pd.read_csv(f'{OUT_DIR}{best_pred_list[0]}')['id'],
              'crop': df_pred.mode(axis=1)[0].astype(int)}).to_csv(
    f'{OUT_DIR}voting_1.csv', sep=',', index=None)

In [38]:
best_pred_list2=[
    'voting_1.csv',
    'agro_3_nozero_fi_11_lgbm_full_out.csv',
    'agro_3_nozero_fi_3_lgbm_full_out.csv',
]

In [39]:
df_pred_list2 = [pd.read_csv(f'{OUT_DIR}{filename}')['crop'] for filename in best_pred_list2]

In [40]:
df_pred2 = pd.concat(df_pred_list2, axis=1)
df_pred2

      crop  crop  crop
0        3     3     3
1        2     2     2
2        3     3     3
3        1     1     1
4        6     6     6
...    ...   ...   ...
2066     5     5     5
2067     3     3     3
2068     2     2     2
2069     6     6     6
2070     6     6     6

[2071 rows x 3 columns]

In [41]:
pd.DataFrame({'id': pd.read_csv(f'{OUT_DIR}{best_pred_list[0]}')['id'],
              'crop': df_pred2.mode(axis=1)[0].astype(int)}).to_csv(
    f'{OUT_DIR}voting_2.csv', sep=',', index=None)